body {
  font-family: Calibri, Arial, sans-serif;
  }
ul {
  border: 1px black solid;
}
img {
  height: 284px;
  width: 428px;
  border: 2px green dashed;
  padding: 5px 10px 5px 10px;
}

#first-ingredient {
 color: blue; 
}
